<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>双链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>循环链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>数据结构和算法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>静态链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01E459DE1E796EC900FE2DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01E459EC1E796F2E00FE2DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01E459FD1E79728D00FE2DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01E45A081E7972BD00FE2DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
